---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---

<LayoutDefault>
  <article class="prose">
    <h1>¡404!</h1>
    <p>TAN FUMANDO SEÑORES.</p>
    <p>
      QUIÉN ESTA FUMANDO? QUIÉN ESTA FUMANDO CTM? QUIÉN ESTA FUMANDO? QUIÉN ESTA FUMANDO? QUIÉN ESTA FUMANDO? QUIÉN ESTA
      FUMANDO? ESTE WEBON ESTE WEBON ME VIENE (EL EL EL EL) A ALUCINAR DE FUMON, TA BIEN WEBON.
    </p>
    <a href="/">Volver a casa.</a>
  </article>
</LayoutDefault>
