---
const { title, category } = Astro.props
---

<header>
  <h1 style="font-size: xx-large; font-weight: bolder;">{title}</h1>
</header>
<a class="font-mono" style="font-size: small;" href={`/categories/${category}`}>Vista Simplificada</a>
<br />
