---
import Firmas from './Firmas.astro'
import { getPosts } from '~/utils'
const posts = (await getPosts()).map((post) => post.id)
---

<div>
  <p>
    Intemporal, sin entradas ni salidas, no hay noticia. No importa el orden porque el tiempo se junta: no somos una
    red: mucho menos social. Esto no es una revista, esto es un chat directo con el cielo.
  </p>
  <p>
    Todo va hacía algún lugar y de todo lugar llega. <a href="/manifiests/">Manifiestos</a>, <a href="/poetry">Planos</a
    >, <a href="/brain">Cerebro</a> y <a href="/categories/genodemia/">Genodemia</a>.
  </p>
  <p><a id="random-href-post">Y que de lo mismo.</a></p>
  <p>
    <a href="mailto:txt@planisferio.cl">txt@planisferio.cl</a>
  </p>
</div>

<Firmas title="Desapareciendo" />

<p>
  <br /><i>La falta de justificado es justificada.</i>
  <br /><i>El orden está siempre cambiando.</i>
</p>

<script is:inline defer define:vars={{ posts }}>
  const a = document.getElementById('random-href-post')
  const randomPost = posts[Math.floor(Math.random() * posts.length)]
  a.setAttribute('href', `/posts/${randomPost}`)
</script>
