---
import Firmas from './Firmas.astro'
import { getPosts } from '~/utils'
const posts = (await getPosts()).map((post) => post.id)
---

<div>
  <p>
    Intemporal, sin entradas ni salidas, no hay noticia. <br />
    Sin orden... porque el tiempo se junta: <br />
    No revista, sino un chat... directo con el cielo. <br />
    Todo va hacía algún lugar y de todo lugar llega... porque es <a href="/posts/">texto</a>.
  </p>
  <p><a id="random-href-post">Y da lo mismo.</a></p>
</div>

<Firmas title="Desapareciendo" />

<p>
  <br /><i>La falta de justificado es justificada.</i>
  <br /><i>El orden está siempre cambiando.</i>
</p>

<script is:inline defer define:vars={{ posts }}>
  const a = document.getElementById('random-href-post')
  const randomPost = posts[Math.floor(Math.random() * posts.length)]
  a.setAttribute('href', `/posts/${randomPost}`)
</script>
